/*Full Body*/
body{
	margin: 0;
	font-family: fantasy;
	font-size: 20px: ;
}
/*Header Settings*/
header{
	background-color: teal;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}
header img{
	border-radius: 500px;
	width: 300px;
	border: 50px dashed #F7B158;
}
header h1{
	font-size: 80px;
	font-style: !important;
	color: #F7B158;
}
/*Main Settings*/
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20 20px;
}
main img{
	max-width: 100%;
}
h2{
	font-size: 30px;
	color: teal;
}
p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}

a{
	color: #F7B158;
}
a:hover{
	color: teal;
	background-color: salmon;
}
/*Footer Settings*/
footer{
	background-color: teal;
	text-align: center;
	color: white;
	padding: 50px;
}
footer p{
	margin: 0;
}
footer a{
	color: white;
}
footer a:hover{
	opacity:.5;
	background-color: transparent;
	color:  #F7B158;
}
